<div class="individual-movie container mt-6">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
            <div class="columns is-vcentered">
  <div class="column is-three-fifths intro1">
<div class="search-results">
    <img class="search-poster" src= {{Poster}}>
  </div>
    </div>
  <div class="column is-three-fifths intro1">
    <div class="search-details">
            <h1>Title: {{Title}} </h1>
            <h1>Actors: {{Actors}} </h1>
            <h1>Rated: {{Rated}} </h1>
            <h1>Genre: {{Genre}} </h1>
            <h1>Director: {{Director}} </h1>
            <h1>Year: {{Year}} </h1>
            <h1>Plot: {{Plot}} </h1>
    </div>
  </div>
</div>
</div>
</div>
  </div>
</div>


{{!-- <div class="columns is-vcentered">
  <div class="column is-half">
      <div class="search-results">
    <img class="search-poster" src= {{Poster}}>
  </div>
  <div class="column is-three-fifths">
    <div class="search-details">
            <h3>Title: {{Title}} </h3>
            <h3>Actors: {{Actors}} </h3>
            <h3>Rated: {{Rated}} </h3>
            <h3>Genre: {{Genre}} </h3>
            <h3>Director: {{Director}} </h3>
            <h3>Year: {{Year}} </h3>
            <h3>Plot: {{Plot}} </h3>
    </div>
  </div>
</div>
</div> --}}



{{!-- <section>
  <div class="hero-body">
    <div class="individual-movie container mt-6">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
       
<div class="search-details">
           <div class="search-results">
    <img class="search-poster" src= {{Poster}}>
    <div class="search-details">
            <h3>Title: {{Title}} </h3>
            <h3>Actors: {{Actors}} </h3>
            <h3>Rated: {{Rated}} </h3>
            <h3>Genre: {{Genre}} </h3>
            <h3>Director: {{Director}} </h3>
            <h3>Year: {{Year}} </h3>
            <h3>Plot: {{Plot}} </h3>
    </div>
</div>
      </div>
    </div>
  </div>
  </div>
</section> --}}

{{!-- <div class="search-results">
    <img class="search-poster" src= {{Poster}}>
    <div class="search-details">
            <h3>Title: {{Title}} </h3>
            <h3>Actors: {{Actors}} </h3>
            <h3>Rated: {{Rated}} </h3>
            <h3>Genre: {{Genre}} </h3>
            <h3>Director: {{Director}} </h3>
            <h3>Year: {{Year}} </h3>
            <h3>Plot: {{Plot}} </h3>
    </div>
</div>  --}}