

<div class="search-results">
    <img class="search-poster" src= {{Poster}}>
    <div class="search-details">
            <h3>Title: {{Title}} </h3>
            <h3>Actors: {{Actors}} </h3>
            <h3>Rated: {{Rated}} </h3>
            <h3>Genre: {{Genre}} </h3>
            <h3>Director: {{Director}} </h3>
            <h3>Year: {{Year}} </h3>
            <h3>Plot: {{Plot}} </h3>
    </div>
</div> 



